.main-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.main__title{
    margin-bottom: 50px;
}

.main__title h1{
    margin-bottom: 10px;
}

.slider .news__elem{
    margin: 0 20px;
}